.login-container {
  text-align: center;
}

.button {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  padding: 10px 20px;
  background-color: #b5b9ff;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.button:hover {
  background-color: #2b2c49;
}
